{% extends "base.html" %}
{% load static %}

<style type="text/css">
  
</style>

{% block video %}


<div class="container">
    <div class="col s12">
        <h2 class="center white-text">{{obj.movie_name}}</h2>
    </div>
  <video
    id="my-video"
    class="video-js video-js-responsive-container"
    controls
    autoplay
    preload="auto"
    width="640"
    height="480"
    poster="{{obj.movie_img}}"
    data-setup="{}">
    <source src="{{obj.movie_url}}" type="video/mp4">
  </video>
  <div style="margin-top: 30px" class="col s12 white-text">
        <h5><strong>Sinopse:</strong></h5>
        <p>{{obj.movie_sinopse}}</p>
  </div>
</div>
  
{% endblock video %}
