{% extends "base.html" %}
{% block main %}
<div class="row">
{% for obj in objects %}
<div class="col s12 m3 ">
	<div class="card">
		<div class="card-image waves-effect waves-block waves-light">
			<a href="{% url 'desenho:player_desenho' obj.id %}"><img style="height: 200px;width: 400px;" src="{{obj.img_desenho}}"></a>
		</div>
		<div class="card-content">
			<span class="card-title activator grey-text text-darken-4 truncate">{{obj.nome_desenho}}<i class="material-icons">more_vert</i></span>
		</div>
		<div class="card-reveal">
			<span class="card-title grey-text text-darken-4">{{obj.nome_desenho}}<i class="material-icons">close</i> </span>
			<p></p>
		</div>
	</div>
</div>
{% endfor %}
</div>	
{% endblock main %}
